@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #ffffff;
  background-color: #0e0e0e;
}

.wrapper {
  display: flex;
  justify-content: center;
  max-width: 1140px;
  margin: 0px auto;
  padding: 50px 30px;
}
@media only screen and (max-width: 1200px) {
  .wrapper {
    max-width: 960px;
  }
}
@media only screen and (max-width: 992px) {
  .wrapper {
    max-width: 720px;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 768px) {
  .wrapper {
    max-width: 540px;
  }
}
@media only screen and (max-width: 576px) {
  .wrapper {
    width: 100%;
  }
}
.wrapper .left-side, .wrapper .right-side {
  width: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media only screen and (max-width: 992px) {
  .wrapper .left-side, .wrapper .right-side {
    width: 80%;
  }
}
@media only screen and (max-width: 768px) {
  .wrapper .left-side, .wrapper .right-side {
    width: 100%;
  }
}
.wrapper .left-side {
  background-image: url("../images/background-left-side.jpg");
  padding: 75px;
}
.wrapper .left-side .main-logo {
  margin-bottom: 50px;
  display: inline-block;
}
.wrapper .left-side .main-logo img {
  height: 80px;
}
.wrapper .left-side .content .title {
  font-size: 42px;
  font-weight: 300;
  line-height: 1.4;
}
.wrapper .left-side .content p {
  font-size: 15px;
  line-height: 2;
  margin-top: 20px;
}
.wrapper .left-side .content .btn {
  margin-top: 50px;
}
.wrapper .right-side {
  background-image: url("../images/background-right-side.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.wrapper .right-side #loader {
  top: 0px;
  width: 0%;
  height: 3px;
  background-color: #d1f646;
  position: absolute;
  transition: width 5s ease-in-out;
}
.wrapper .right-side #loader.active {
  width: 100%;
}
.wrapper .right-side .nft-wrapper {
  padding: 50px;
}
@media only screen and (max-width: 992px) {
  .wrapper .right-side .nft-wrapper {
    padding: 70px 50px 50px;
  }
}
.wrapper .right-side .nft-wrapper .flip-card {
  width: 300px;
  height: 400px;
  perspective: 1000px;
}
.wrapper .right-side .nft-wrapper .flip-card .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  background-color: #141a18;
  outline: 12px solid rgba(255, 255, 255, 0.25);
  border: 1px solid #FFFFFF;
  background-image: url("../images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}
.wrapper .right-side .nft-wrapper .flip-card .flip-card-inner .image-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.wrapper .right-side .nft-wrapper .flip-card .flip-card-inner .image-wrapper .border {
  border: 1px solid #d1f646;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.wrapper .right-side .nft-wrapper .flip-card .flip-card-inner .image-wrapper .border img {
  display: block;
  width: 100%;
  height: 60%;
  flex-grow: 1;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper .right-side .nft-wrapper .flip-card .flip-card-inner .image-wrapper .border img.animate {
  transform: rotateY(180deg);
}
.wrapper .right-side .nft-wrapper .flip-card .flip-card-inner .image-wrapper .border #name {
  width: 100%;
  display: block;
  color: #d1f646;
  background-color: #141a18;
  padding: 8px 12px;
}
.wrapper .right-side .nft-wrapper .flip-card .flip-card-inner .image-wrapper .border #item-id {
  color: #d1f646;
  font-size: 13px;
  position: absolute;
  top: 1px;
  right: 5px;
}
.wrapper .right-side .nft-wrapper .flip-card.animate .flip-card-inner {
  transform: rotateY(180deg);
}
.wrapper .right-side .nft-wrapper .info {
  margin: 30px -12px 0px;
  display: flex;
  gap: 10px;
}
.wrapper .right-side .nft-wrapper .info > * {
  flex-grow: 1;
  text-align: center;
}

.btn {
  font-size: 16px;
  line-height: 1.5;
  color: #0e0e0e;
  text-decoration: none;
  background: #d1f646;
  border: solid 2px transparent;
  padding: 8px 22px;
  display: inline-block;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  cursor: pointer;
}
.btn:hover {
  color: #d1f646;
  background-color: transparent;
  border-color: #d1f646;
}
.btn.btn-outline {
  color: #d1f646;
  background-color: transparent;
  border-color: #d1f646;
}
.btn.btn-outline:hover {
  color: #0e0e0e;
  background: #d1f646;
  border-color: transparent;
}/*# sourceMappingURL=style.css.map */