*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #ffffff;
  background-color: #0e0e0e;
}

.wrapper {
  display: flex;
  justify-content: center;
  max-width: 1140px;
  margin: 0px auto;
  padding: 50px 30px;

  @include size(lg) {
    max-width: 960px;
  }

  @include size(md) {
    max-width: 720px;
    flex-wrap: wrap;
  }

  @include size(sm) {
    max-width: 540px;
  }

  @include size(xs) {
    width: 100%;
  }

  .left-side, .right-side {
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include size(md) {
      width: 80%;
    }

    @include size(sm) {
      width: 100%;
    }
  }

  .left-side {
    background-image: url('../images/background-left-side.jpg');
    padding: 75px;

    .main-logo {
      margin-bottom: 50px;
      display: inline-block;

      img {
        height: 80px;
      }
    }

    .content {
      .title {
        font-size: 42px;
        font-weight: 300;
        line-height: 1.4;
      }

      p {
        font-size: 15px;
        line-height: 2;
        margin-top: 20px;
      }

      .btn {
        margin-top: 50px;
      }
    }
  }

  .right-side {
    background-image: url('../images/background-right-side.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    #loader  {
      top: 0px;
      width: 0%;
      height: 3px;
      background-color: #d1f646;
      position: absolute;
      transition: width 5s ease-in-out;

      &.active {
        width: 100%;
      }
    }

    .nft-wrapper {
      padding: 50px;

      @include size(md) {
        padding: 70px 50px 50px;
      }

      .flip-card {
        width: 300px;
        height: 400px;
        perspective: 1000px;
        
        .flip-card-inner {
          position: relative;
          width: 100%;
          height: 100%;
          transition: transform 1s;
          transform-style: preserve-3d;
          box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
          background-color: #141a18;
          outline: 12px solid rgb(255 255 255 / 25%);
          border: 1px solid #FFFFFF;
          background-image: url('../images/logo.png');
          background-position: center;
          background-repeat: no-repeat;
          background-size: 50%;

          .image-wrapper {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;     
            
            .border {
              border: 1px solid #d1f646;
              width: 100%;
              height: 100%;
              display: flex;
              flex-wrap: wrap;
              flex-direction: column;
    
              img {
                display: block;
                width: 100%;
                height: 60%;
                flex-grow: 1;
                object-fit: cover;
    
                &.animate {
                  transform: rotateY(180deg);
                }
              }
    
              #name {
                width: 100%;
                display: block;
                color: #d1f646;
                background-color: #141a18;
                padding: 8px 12px;
              }
    
              #item-id {
                color: #d1f646;
                font-size: 13px;
                position: absolute;
                top: 1px;
                right: 5px;
              }
            }
          }
        }

        &.animate .flip-card-inner {
          transform: rotateY(180deg);
        }
      }

      .info {
        margin: 30px -12px 0px;
        display: flex;
        gap: 10px;

        >* {
          flex-grow: 1;
          text-align: center;
        }
      }
    }
  }

}


.btn {
  font-size: 16px;
  line-height: 1.5;
  color: #0e0e0e;
  text-decoration: none;
  background: #d1f646;
  border: solid 2px transparent;
  padding: 8px 22px;
  display: inline-block;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    color: #d1f646;
    background-color: transparent;
    border-color: #d1f646;
  }

  &.btn-outline {
    color: #d1f646;
    background-color: transparent;
    border-color: #d1f646;

    &:hover {
      color: #0e0e0e;
      background: #d1f646;
      border-color: transparent;
    }
  }
}